@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

h1 {
    color: seashell;
    font-size-adjust: initial;
}


li, a, button {
    font-family: "Open sans",  "sans-serif";
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}


header {

        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 10%;

}

.Nav_links {
    list-style: none
}

.Nav_links li {

    display: inline-block;
    padding: 0px 20px;

}



.Nav_links li a {
    transition: all 0.3 ease 0%;
    
}

.Nav_links li a:hover{
    columns: #008890;
}


button   {

    padding: 9px 25px;
    background-color: rgb(0,138,169,1);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0%;
}

button:hover{
    background-color: rgb(0,138,169,0.8);
}

.n_logo {
    display: inline-flexbox;
    padding: 0px 20px;
    text-align: center;
    
}